//
   Created by chimwemwe on 11/6/15.

extends layout

block mainContent

    style.
        .summary {
            font-size: 27px;
            padding-left: 15px;
        }
            .data {
            color: black;
            font-size: 25px;
        }

    script(src="/epilepsy/javascripts/social_history.js")

    form(id='form' action='/epilepsy/encounter/create/#{id}' method='post')

        input(type='hidden' name='data[UUID]' value='#{uuid}')

        input(type='hidden' name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][UUID]' value='#{encounter_uuid}')

        input(type='hidden' id='alcoholism' name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][ALCOHOLISM][response][value]')
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][ALCOHOLISM][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][ALCOHOLISM][concept][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][ALCOHOLISM][concept][name]'  value='ALCOHOLISM' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][ALCOHOLISM][response][category]'  value='TEXT' )

        input(type='hidden' id='refer_to_clinician' name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][REFER TO CLINICIAN][response][value]')
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][REFER TO CLINICIAN][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][REFER TO CLINICIAN][concept][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][REFER TO CLINICIAN][concept][name]'  value='REFER TO CLINICIAN' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][REFER TO CLINICIAN][response][category]'  value='TEXT' )

        select(id='education' helpText='Education level completed?' tt_onLoad='__$("nextButton").style.display = "none"; showCategory("Social History");' tt_requireNextClick='false' name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][EDUCATION LEVEL COMPLETED][response][value]')
            option
            option
                | Tertiary education
            option
                | Secondary education
            option
                | Primary education
            option
                | None
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][EDUCATION LEVEL COMPLETED][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][EDUCATION LEVEL COMPLETED][concept][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][EDUCATION LEVEL COMPLETED][concept][name]'  value='EDUCATION LEVEL COMPLETED' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][EDUCATION LEVEL COMPLETED][response][category]'  value='TEXT' )


        select(id='substance_use' helpText='Use of substance?' pos='3' tt_onLoad='__$("nextButton").style.display = "none"; showCategory("Social History");' tt_requireNextClick='false' name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][SUBSTANCE USE][response][value]')
            option
            option
                | No
            option
                | Yes
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][SUBSTANCE USE][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][SUBSTANCE USE][concept][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][SUBSTANCE USE][concept][name]'  value='SUBSTANCE USE' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][SUBSTANCE USE][response][category]'  value='TEXT' )


        select(id='pork' helpText='Eats pork?' pos='3' tt_onLoad='__$("nextButton").style.display = "none"; showCategory("Social History");' tt_requireNextClick='false' name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][EATS PORK?][response][value]')
            option
            option
                | Do not eat pork
            option
                | Eats pork
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][EATS PORK?][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][EATS PORK?][concept][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][EATS PORK?][concept][name]'  value='EATS PORK?' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][EATS PORK?][response][category]'  value='TEXT' )


        select(id='smoking' helpText='Ever smoked?' tt_onLoad='__$("nextButton").style.display = "none"; showCategory("Social History");' tt_requireNextClick='false' name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][EVER SMOKED?][response][value]')
            option
            option
                | No
            option
                | Yes
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][EVER SMOKED?][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][EVER SMOKED?][concept][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][EVER SMOKED?][concept][name]'  value='EVER SMOKED?' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][EVER SMOKED?][response][category]'  value='TEXT' )


        input(type='text' id='number_of_cigarettes' helpText='Number of cigarettes per day?' field_type='number' pos='1' min='1' max='90' condition='__$("smoking").value.toLowerCase() == "yes"' tt_pageStyleClass='Numeric NumbersWithUnknown' tt_onLoad='__$("nextButton").style.display = "block"; showCategory("Social History");' name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][NUMBER OF CIGARETTES SMOKED PER DAY][response][value]')
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][NUMBER OF CIGARETTES SMOKED PER DAY][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][NUMBER OF CIGARETTES SMOKED PER DAY][concept][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][NUMBER OF CIGARETTES SMOKED PER DAY][concept][name]'  value='NUMBER OF CIGARETTES SMOKED PER DAY' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][NUMBER OF CIGARETTES SMOKED PER DAY][response][category]'  value='NUMBER' )


        select(id='duration' helpText='How long have you been smoking? ' tt_onLoad='__$("nextButton").style.display = "none"; showCategory("Social History");' condition='__$("smoking").value.toLowerCase() == "yes"' tt_requireNextClick='false' name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][HOW LONG HAVE YOU BEEN SMOKING?][response][value]')
            option
            option
                | Less than five years
            option
                | Five years or more
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][HOW LONG HAVE YOU BEEN SMOKING?][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][HOW LONG HAVE YOU BEEN SMOKING?][concept][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][HOW LONG HAVE YOU BEEN SMOKING?][concept][name]'  value='HOW LONG HAVE YOU BEEN SMOKING?' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][HOW LONG HAVE YOU BEEN SMOKING?][response][category]'  value='TEXT' )


        select(id='current_smoker' helpText='Do you currently smoke?' pos='3' condition='__$("smoking").value.toLowerCase() == "yes"' tt_onLoad='__$("nextButton").style.display = "none"; showCategory("Social History");' tt_requireNextClick='false' name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][DO YOU CURRENTLY SMOKE?][response][value]')
            option
            option
                | No
            option
                | Yes
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][DO YOU CURRENTLY SMOKE?][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][DO YOU CURRENTLY SMOKE?][concept][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][DO YOU CURRENTLY SMOKE?][concept][name]'  value='DO YOU CURRENTLY SMOKE?' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][DO YOU CURRENTLY SMOKE?][response][category]'  value='TEXT' )


        select(id='drink_alcohol' helpText='Does patient drink alcohol?' pos='4' tt_onLoad='__$("nextButton").style.display = "none"; showCategory("Social History");' tt_requireNextClick='false' name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][DOES PATIENT DRINK ALCOHOL?][response][value]')
            option
            option
                | No
            option
                | Yes
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][DOES PATIENT DRINK ALCOHOL?][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][DOES PATIENT DRINK ALCOHOL?][concept][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][DOES PATIENT DRINK ALCOHOL?][concept][name]'  value='DOES PATIENT DRINK ALCOHOL?' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][DOES PATIENT DRINK ALCOHOL?][response][category]'  value='TEXT' )

        input(type='text' id='drinks_per_day' helpText='Alcohol units per day?' field_type='number' pos='5' condition='__$("drink_alcohol").value.toLowerCase() == "yes"' tt_pageStyleClass='Numeric NumbersWithUnknown' tt_onLoad='__$("nextButton").style.display = "block"; showCategory("Social History");' name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][ALCOHOL UNITS PER DAY?][response][value]')
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][ALCOHOL UNITS PER DAY?][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][ALCOHOL UNITS PER DAY?][concept][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][ALCOHOL UNITS PER DAY?][concept][name]'  value='ALCOHOL UNITS PER DAY?' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][ALCOHOL UNITS PER DAY?][response][category]'  value='NUMBER' )


        input(type='text' id='days_per_week' helpText='Number of days per week alcohol is used?' field_type='number' pos='6' min='1' max='7' condition='__$("drink_alcohol").value.toLowerCase() == "yes"' tt_pageStyleClass='Numeric NumbersWithUnknown' tt_onLoad='__$("nextButton").style.display = "block"; showCategory("Social History");' name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][NUMBER OF DAYS PER WEEK ALCOHOL IS USED][response][value]')
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][NUMBER OF DAYS PER WEEK ALCOHOL IS USED][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][NUMBER OF DAYS PER WEEK ALCOHOL IS USED][concept][UUID]'  value='' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][NUMBER OF DAYS PER WEEK ALCOHOL IS USED][concept][name]'  value='NUMBER OF DAYS PER WEEK ALCOHOL IS USED' )
        input(type='hidden'  name='data[programs][EPILEPSY PROGRAM][patient_programs][#{program_uuid}][visits][#{today}][SOCIAL HISTORY][data][][NUMBER OF DAYS PER WEEK ALCOHOL IS USED][response][category]'  value='NUMBER' )

        input(type='text' name='name881963766950' disabled  id='summary' tt_onLoad='showSelectedConditions();__$("keyboard").style.display = "none";__$("nextButton").style.display = "block";' optional='true' tt_pageStyleClass='NoControls')